.card {
    margin-right: 100px;
    height: 50vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.card__content {
    margin-left: 10px;
}

.card__description {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
    color: white;
}

.banner-description {
    display: flex;
    align-items: center;
}

.card:hover {
    transform: scale(1.03);
    transition: ease-in-out .4s;
}