@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@300;400&display=swap');

.slider__header {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: var(--primary-color);
}

.slider__header button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 6vh;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.slider__cards {
    margin-top: 50px;
    display: flex;
}

.slider__buttons {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.slider__buttons button {
    background: var(--primary-color);
    margin-right: 10px;
    border-radius: 3px;
    display: flex;
    justify-items: center;
    padding: 10px;
}

.slider__header button:hover {
    background: #F73D93;
    color: white;
    transition: .5s;
}

.slider__buttons button:hover {
    background: #F73D93;
    color: white;
    transition: .5s;
}