* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--secondary-color);
  padding: 10vh 10vw;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

:root {
  --primary-color: #B1BCE6;
  --secondary-color: #6A67CE;
}